
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="assets/img/hotel.ico">
    <title>Hotel Posada Del Ángel Villahermosa</title>
    <link rel="stylesheet" href="sign-up.component.css"> 
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script>
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
  apiKey: "AIzaSyAVhHdmgnhkr9V-Z-sEJZKNhwD2g0GOhsg",
  authDomain: "hotel-ac0cd.firebaseapp.com",
  databaseURL: "https://hotel-ac0cd-default-rtdb.firebaseio.com",
  projectId: "hotel-ac0cd",
  storageBucket: "hotel-ac0cd.appspot.com",
  messagingSenderId: "847218257875",
  appId: "1:847218257875:web:8f3d385902380738088926",
  measurementId: "G-69YN12FKTL"
  };
  firebase.initializeApp(firebaseConfig);
  </script>

</head>

<body>
  <div class="container">
    <form >
      <div class="title"><h1 id="title-text">Bienvenido<br>Crea una cuenta</h1></div>
  
      <div class="input-div"><p>Correo:</p>
        <input id="email" type="email" placeholder="ingresa email"> 
      </div>
      <div class="input-div"><p>Contraseña:</p>
        <input id="contraseña" type="password" placeholder="Ingresa conteraseña">
      </div>
     
      <button onclick="registar()" >Enviar</button>
      <div id="contenido">
           
      </div>
    </form>
    
  </div>
  <script src="/src/assets/js/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="sign-up.component.js"></script>
</body>

</html>
