
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="assets/img/hotel.ico">
    <title>Hotel Posada Del Ángel Villahermosa</title>
    <link rel="stylesheet" href="sign-up.component.css"> 
</head>

<body>
  <div class="container">
    <form [formGroup]="signinForm" (ngSubmit)="onSignin">
      <div class="title"><h1 id="title-text">Bienvenido<br>Crea una cuenta</h1></div>
  
      <div class="input-div"><p>Correo:</p>
        <input type="email" name="email"formControlName="email" />
      </div>
      <div class="input-div"><p>Contraseña:</p>
        <input type="password" name="password" formControlName="password" />
      </div>
     
      <button id="button" [routerLink]="['/login']" >Sign In</button>
    </form>
  </div>
    <script src="/src/assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> 
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</body>
</html>
