<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/src/assets/img/hotel.ico">
  <title>Hotel Posada Del Ángel Villahermosa</title>
  <link rel="stylesheet" href="login-screen.component.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <form>
  
    <ul align="center">
      <div >  
        <a class="btn btn-primary btn-lg btn-block"routerLink="/login" *ngIf="!auth.isOk">Login</a>
      </div>
      <br>
      <div>
        <a class="btn btn-secondary btn-lg btn-block" routerLink="/registro" *ngIf="!auth.isOk">Registro</a>
      </div>
      <br>
      <div>
        <a class="btn btn-secondary btn-lg btn-block btn-danger" (click)="auth.cerrarSesion()">Salir</a>
      </div>
    </ul>
  </form>

  
</body>

</html>
