<header class="ae-container-fluid ae-container-fluid--full rk-header " >
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo"><a href="index.html">Hotel Posada Del Ángel Villahermosa</a></h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li routerLinkActivate="activate" class="rk-menu__item">
            <a routerLink="/home" class="rk-menu__link">Inicio</a>
        </li>
        <li routerLinkActive="Activate"  class="rk-menu__item">
          <a routerLink="/ubicacion" class="rk-menu__link">Ubicación</a>
      </li>
          <li routerLinkActive="Activate"  class="rk-menu__item">
              <a routerLink="/contacto" class="rk-menu__link">Contacto</a>
          </li>
          <li routerLinkActive="Activate" class="rk-menu__item">
              <a routerLink="/login" class="rk-menu__link">Login</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  


  
