.smart-wrap {
    padding: 0 20px;
}

.smart-forms,
.smart-forms * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.231;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
}

.smart-container {
    background: #fff;
    margin: 50px auto;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;

}

.wrap-0 {
    max-width: 952px;
}

.wrap-1 {
    max-width: 852px;
}

.wrap-2 {
    max-width: 652px;
}

.wrap-3 {
    max-width: 452px;
}

.smart-forms .section {
    margin-bottom: 22px;
}

.smart-forms .smart-link {
    color: #4ebd4a;
    text-decoration: none;
}

.smart-forms .form-header {
    overflow: hidden;
    position: relative;
    padding: 25px 30px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.smart-forms .form-header h4 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-align: auto;
    font-weight: 300;
    font-size: 32px;
    padding: 0;
    margin: 0;

}

.smart-forms .header-primary {
    background-color: #4ebd4a;
    border-top: solid #A7D065;
    border-bottom: solid #3c9b39;
}

.smart-forms .header-primary h4 {
    color: #fff;
}

.smart-forms .form-body {
    padding: 40px 30px;
    padding-bottom: 20px;
}

.smart-forms .select,
.smart-forms .gui-input,
.smart-forms .gui-textarea,
.smart-forms .select>select,
.smart-forms .select-multiple select {
    background: #fff;
    position: relative;
    vertical-align: top;
    border: 1px solid #efefef;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    color: #626262;
    outline: none;
    height: 42px;
    width: 100%;
    *zoom: 1;
}

.smart-forms .gui-input,
.smart-forms .gui-textarea {
    padding: 5px;
}

.smart-forms .gui-input:hover,
.smart-forms .gui-textarea:hover,
.smart-forms .select>select:hover,
.smart-forms .select-multiple select:hover,
.smart-forms .gui-input:hover~.input-hint,
.smart-forms .file .gui-file:hover+.gui-input,
.smart-forms .gui-textarea:hover~.input-hint {
    border-color: #6BC868;
}

.smart-forms .select>select:focus {
    z-index: 10;
    z-index: 20\9;
}

.smart-forms .checkbox,
.smart-forms .radio {
    position: relative;
    margin-right: 2px;
    background: #fff;
    display: inline-block;
    border: 3px solid #CFCFCF;
    margin-bottom: 0;
    margin-top: 0;
    height: 21px;
    width: 21px;
    top: 4px;
}

.smart-forms input:checked+.checkbox:before,
.smart-forms input:checked+.radio:before {
    display: block;
}

.smart-forms .checkbox:before {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 6px;
    height: 3px;
    border: solid #4ebd4a;
    -webkit-border-width: 0 0 3px 3px;
    -moz-border-width: 0 0 3px 3px;
    border-width: 0 0 3px 3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.smart-forms input:checked+.checkbox,
.smart-forms input:checked+.radio {
    border: 3px solid #4ebd4a;
}

.smart-forms .radio {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;

}

.smart-forms .radio:before {
    margin: 4px;
    width: 7px;
    height: 7px;
    background: #4ebd4a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.smart-forms input:hover+.checkbox,
.smart-forms input:hover+.radio {
    border-color: #6BC868;

}

.smart-forms .switch>.switch-label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 25px;
    width: 58px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    background: #D7D7D7;
    border: 2px solid #D7D7D7;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

}

.smart-forms .button {
    border: 0;
    height: 42px;
    color: #243140;
    line-height: 1;
    font-size: 15px;
    cursor: pointer;
    padding: 0 35px;
    text-align: center;
    vertical-align: top;
    background: #DBDBDB;
    display: inline-block;
    -webkit-user-drag: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

.smart-forms .btn-primary {
    background-color: #ecae3d;
}

.smart-forms .frm-row .colm {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    float: left;
}

.smart-forms .frm-row .colm2 {
    width: 16.66%;
}

.smart-forms .frm-row .colm3 {
    width: 25%;
}

.smart-forms .frm-row .colm4 {
    width: 33.33%;
}

.smart-forms .frm-row .colm5 {
    width: 41.66%;
}

.smart-forms .frm-row .colm6 {
    width: 50%;
}