
<app-header>
<br>
</app-header>
<section class="ae-container-fluid rk-main" >
  
  <!-- <app-home></app-home> -->

<!-- <app-contacto></app-contacto> -->
<!-- <app-login></app-login> -->
<!-- <app-registro></app-registro> -->
<!-- <app-login-screen></app-login-screen> -->
<!-- <app-login-administrador></app-login-administrador> -->
<!-- <app-list-reservas></app-list-reservas> -->
<!-- <app-create-reservas></app-create-reservas> -->
<!-- <app-list-reserva></app-list-reserva> -->
<!-- <app-create-reserva></app-create-reserva> -->
<!-- <app-reset></app-create-reset> -->
  <!-- <app-individual></app-individual> -->
<router-outlet></router-outlet>

</section>


<app-footer></app-footer>









