
<app-header>
<br>
</app-header>
<section class="ae-container-fluid rk-main" >
  
  <!-- <app-home></app-home> -->
<!-- <app-reservacion></app-reservacion> -->
<!-- <app-contacto></app-contacto> -->
<!-- <app-login></app-login> -->
<!-- <app-registro></app-registro> -->
<!-- <app-login-screen></app-login-screen> -->
<!-- <app-login-administrador></app-login-administrador> -->
<!-- <app-administracion-reservas></app-administracion-reservas> -->
<router-outlet></router-outlet>

</section>


<app-footer></app-footer>









