<section class="ae-container-fluid rk-main">
  <div class="rk-layout-ctrl-mobile">
    <svg viewBox="0 0 9 9" class="layout-mob-1">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-2">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-3">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-4">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
  </div>
</section>
<section class="ae-container-fluid ae-container-fluid--inner loading rk-portfolio ">
  <div align="center">
    <a><img src="assets/img/¡bienvenido! (1).gif" aling="au-xs-ta-center" class="circular--portrait"></a>
  </div>
  <div>
    <a>
      <p
        style="background: #dbd5d5; font-weight: bold; padding: 15px; border-left:8px solid; border-top-left-radius:8px; border-bottom-left-radius:8px; border-right:8px solid; border-top-right-radius:8px; border-bottom-right-radius:8px;">
        Hotel Posada Del Ángel Villahermosa, le ofrece habitaciones individuales, king size,dobles y triples,con los
        servicios
        de televisión por cable, estacionamiento, wi-fi, agua caliente y fría, y lo más importante en un lugar
        muy cálido. Todo por un increíble precio.</p>
    </a>
  </div>
  <br>
  <div align="center">
    <a><img src="assets/img/reca_1.jpg" aling="au-xs-ta-center" class="circular--square"></a>
    <a routerLink="/login-screen" class="rk-menu__link">
      <p
        style="background: #dbd5d5; font-weight: bold; padding: 15px; border-left:8px solid; border-top-left-radius:8px; border-bottom-left-radius:8px; border-right:8px solid; border-top-right-radius:8px; border-bottom-right-radius:8px;">
        Habitacion Individual</p>
    </a>
  </div>
  <a>
    <div class="form-group ">
      <select name="OS" class=" btn btn-primary float-right" type="button">
        <option selected value="0">Que inclye la Habitacion Individual</option>
        <optgroup label="Costo Habitacion">
          <option value="1">400 por noche</option>
        </optgroup>
        <optgroup label="Habitacion">
          <option value="1">Aloja:2 personas</option>
        </optgroup>
        <optgroup label="Servicios">
          <option value="1">Aire acondicionado</option>
          <option value="2">TV</option>
          <option value="3">Wifi</option>
        </optgroup>
      </select>
    </div>
  </a>



  <div align="center">
    <a><img src="assets/img/reca_2.jpg" class="circular--square"></a>
    <a routerLink="/login-screen" class="rk-menu__link">
      <p
        style="background: #dbd5d5; font-weight: bold; padding: 15px; border-left:8px solid; border-top-left-radius:8px; border-bottom-left-radius:8px; border-right:8px solid; border-top-right-radius:8px; border-bottom-right-radius:8px;">
        Habitacion King size</p>
    </a>
  </div>

  <div class="form-group ">
    <select name="OS" class=" btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#exampleModal"
      type="button">
      <option selected value="0">Que inclye la Habitacion King Size</option>
      <optgroup label="Costo Habitacion">
        <option value="1">450 por noche</option>
      </optgroup>
      <optgroup label="Habitacion">
        <option value="1">Aloja:3 personas</option>
      </optgroup>
      <optgroup label="Servicios">
        <option value="1">Aire acondicionado</option>
        <option value="2">TV</option>
        <option value="3">Wifi</option>
      </optgroup>
    </select>
  </div>

  <div align="center">
    <a><img src="assets/img/reca_3.jpg" class="circular--square"></a>
    <a routerLink="/login-screen" class="rk-menu__link">
      <p
        style="background: #dbd5d5; font-weight: bold; padding: 15px; border-left:8px solid; border-top-left-radius:8px; border-bottom-left-radius:8px; border-right:8px solid; border-top-right-radius:8px; border-bottom-right-radius:8px;">
        Habitacion Doble</p>
    </a>
  </div>
  <div class="form-group ">
    <select name="OS" class=" btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#exampleModal"
      type="button">
      <option selected value="0">Que inclye la Habitacion Doble</option>
      <optgroup label="Costo Habitacion">
        <option value="1">650 por noche</option>
      </optgroup>
      <optgroup label="Habitacion">
        <option value="1">Aloja:4 personas</option>
      </optgroup>
      <optgroup label="Servicios">
        <option value="1">Aire acondicionado</option>
        <option value="2">TV</option>
        <option value="3">Wifi</option>
      </optgroup>
    </select>
  </div>

  <div align="center">
    <a><img src="assets/img/reca_4.jpg" class="circular--square"></a>
    <a routerLink="/login-screen" class="rk-menu__link">
      <p
        style="background: #dbd5d5; font-weight: bold; padding: 15px; border-left:8px solid; border-top-left-radius:8px; border-bottom-left-radius:8px; border-right:8px solid; border-top-right-radius:8px; border-bottom-right-radius:8px;">
        Habitacion Triple</p>
    </a>
  </div>
  <div class="form-group ">
    <select name="OS" class=" btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#exampleModal"
      type="button">
      <option selected value="0">Que inclye la Habitacion Triple</option>
      <optgroup label="Costo Habitacion">
        <option value="1">900 por noche</option>
      </optgroup>
      <optgroup label="Habitacion">
        <option value="1">Aloja:6 personas</option>
      </optgroup>
      <optgroup label="Servicios">
        <option value="1">Aire acondicionado</option>
        <option value="2">TV</option>
        <option value="3">Wifi</option>
      </optgroup>
    </select>
  </div>
</section>