
<section class="ae-container-fluid rk-main"  >
    <div class="rk-layout-ctrl-mobile">
      <svg viewBox="0 0 9 9" class="layout-mob-1">
        <rect width="100%" height="100%" fill="currentColor"></rect>
      </svg>
      <svg viewBox="0 0 9 9" class="layout-mob-2">
        <rect width="100%" height="100%" fill="currentColor"></rect>
      </svg>
      <svg viewBox="0 0 9 9" class="layout-mob-3">
        <rect width="100%" height="100%" fill="currentColor"></rect>
      </svg>
      <svg viewBox="0 0 9 9" class="layout-mob-4">
        <rect width="100%" height="100%" fill="currentColor"></rect>
      </svg>
    </div>
  </section>
  <section class="ae-container-fluid ae-container-fluid--inner loading rk-portfolio ">
      <div align="center">
        <a><img src="assets/img/¡bienvenido! (1).gif" aling="au-xs-ta-center" class="circular--portrait"></a>
      </div>
      <a>Hotel Posada Del Ángel Villahermosa, le ofrece habitaciones amuebladas sencillaa, king size o dobles,con los servicios
        de televisión por cable, estacionamiento, wi-fi, agua caliente y fría, y lo más importante en un lugar
        muy cálido. Todo por un increíble precio.</a>
      <div align="center">
        <a><img src="assets/img/reca_1.jpg" aling="au-xs-ta-center" class="circular--square"></a>
        <a routerLink="/reservacion" class="rk-menu__link"><p style="background: #817f7f; font-weight: bold; padding: 15px; border-left:8px solid #6e198f; border-top-left-radius:8px; border-bottom-left-radius:8px;">Habitacion Sencilla</p></a>
      </div>
      <div align="center">
        <a><img src="assets/img/reca_2.jpg" class="circular--square"></a>
        <a routerLink="/reservacion" class="rk-menu__link"><p style="background: #817f7f; font-weight: bold; padding: 15px; border-left:8px solid #6e198f; border-top-left-radius:8px; border-bottom-left-radius:8px;">Habitacion king size</p></a>
      </div>
      <div align="center">
        <a><img src="assets/img/reca_3.png" class="circular--square"></a>
        <a routerLink="/reservacion"class="rk-menu__link"><p style="background: #817f7f; font-weight: bold; padding: 15px; border-left:8px solid #6e198f; border-top-left-radius:8px; border-bottom-left-radius:8px;">Habitacion doble</p></a>
      </div>
    </section>